@import "tailwindcss";

@layer base {
    button {
        @apply cursor-pointer;
    }
}

@theme {
    --color-l4g-green: #00d136;
    --radius-l4g: 0.5rem;
}

.column-header {
    /* display: flex; */
}

.column-content {}

.explorer-header {
    /* line-height: 1.25rem; */
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: slideIn 0.3s ease-out forwards;
}

#toast-container {
    position: fixed;
    bottom: 30px;
    /* Súbelo un poco más */
    right: 30px;
    z-index: 999999 !important;
    /* Super alto para que gane a Monaco */
    pointer-events: none;
    /* Para que no bloquee clicks si está invisible */
}

.toast {
    pointer-events: auto;
    background-color: #333333;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 4px;
    border-left: 4px solid #18C434;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); */
    margin-top: 10px;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 200px;

    /* Animación corregida */
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInToast {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutToast {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

.animate-slide-in {
    animation: slideInToast 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-slide-outToast {
    animation: slideOutToast 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

#saveDropdown {
    transition: opacity 0.2s ease-in-out;
}

#saveDropdown.hidden {
    display: none;
    opacity: 0;
}

/* Cuando no tiene la clase hidden, forzamos la opacidad */
#saveDropdown:not(.hidden) {
    display: block;
    opacity: 1;
}

/* .tab {
    color: #111827;
    padding-top: .4rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    cursor: pointer;
    min-width: 150px;
    display: flex;
    position: relative;
} */

.tabDivisor {
    background-color: #07B43C;
    height: .125rem;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.active-explorer {
    background-color: #f3f4f6;
    /* Tu verde #18C434 con transparencia */
    /* color: #18C434; */
    /* border-right: 2px solid #18C434; */
    font-weight: bold;
}

.tab:hover {
    background-color: #f3f4f6;
}

/* --- Estilos para el estado Dirty --- */
/* 1. Cuando la pestaña está dirty, ocultamos la X y mostramos el círculo */
.tab-dirty .icon-closeTab {
    opacity: 0;
    /* Hacemos la X transparente */
}

.tab-dirty .dirty-circle {
    opacity: 1;
    /* Mostramos el círculo verde */
}

/* 2. Cuando pasamos el mouse por encima del BOTÓN (btnCloseTab), invertimos el efecto */
/* Esto hace que el círculo desaparezca y la X vuelva a aparecer para poder cerrar */
.tab-dirty .btnCloseTab:hover .icon-closeTab {
    opacity: 1;
    /* Volvemos a mostrar la X */
}

.tab-dirty .btnCloseTab:hover .dirty-circle {
    opacity: 0;
    /* Ocultamos el círculo verde */
}

#editor {
    height: 100%;
    width: 100%;
}

/* -------------------- MENU --------------------*/
#menu {
    background: #111;
    padding: 8px;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #333;
    height: 3rem;
}

.menu-btn {
    background: #111;
    /* color: white; */
    border: 0px solid #333;
    /* padding: 6px 14px; */
    padding: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    border-radius: 4px;
    transition: all .15s;
}

.menu-btn:hover {
    background: #111827;
    border-color: #555;
}

.lucide-log-out {
    width: 20px !important;
    height: 20px !important;
}

#layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

#main {
    display: flex;
    height: calc(100vh - 50px);
}

/* HEADER */
#topBar {
    display: flex;
    height: 40px;
    /* border-bottom: 1px solid #2d2d2d; */
}

/* BOTON CERRAR */
.close {
    color: #999;
    cursor: pointer;
    font-size: 22px;
}

.close:hover {
    color: green;
}

/* OUTLINE TITLE (lado derecho) */
#outlineTitle {
    width: 16rem;
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    font-size: 12px;
    letter-spacing: 1px;
}

/* 🔥 CONTENIDO */
#mainContent {
    display: flex;
    flex: 1;
    overflow: hidden;
    /* Importante para que el editor y outline no empujen el layout */
}

.outline-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid #2d2d2d;
}

/* BODY */
.outline-body {
    flex: 1;
    overflow-y: auto;
}

.children {
    margin-left: 16px;
    display: none;
}

.expanded>.children {
    display: block;
}

.toggle {
    cursor: pointer;
    width: 12px;
    display: inline-block;
}

/* Opcional: estilo del scroll (Chrome/Edge) */
#outline::-webkit-scrollbar {
    width: 8px;
}

#outline::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
}

#outline::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.reference-counter {
    color: red;
    font-size: 12px;
    margin-right: 10px;
}

.highlight-line {
    background: rgba(255, 255, 0, 0.2);
}

.monaco-editor .peekViewEditor {
    border: none !important;
}

.monaco-editor .peekViewEditor {
    border: none !important;
}

.monaco-editor .peekView {
    border: 1px solid #444 !important;
}

.monaco-editor .peekView {
    border: 1px solid #444 !important;
}

/* NUEVOS ESTILOS PARA EL EXPLORADOR */
#fileExplorer {
    width: 260px;
    border-right: 1px solid lightgray;
    background: #fdfdfd;
    /* Un gris muy tenue para diferenciarlo del editor */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#fileList {
    width: 250px;
    flex: 1;
}

.file-item {
    width: 260px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 13px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.1s;
}

.file-item:hover {
    background: #bbb;
    /* Un verde suave que combina con tus iconos */
    color: #000000;
}

/* #outline, */
/* #editor-container, */
#fileExplorer {
    height: 100%;
    /* Se ajustan al mainContent */
    overflow: hidden;
}

/* El scroll debe estar DENTRO de los paneles, no en la página */
#fileList,
#outlineContent {
    overflow-y: auto;
    flex: 1 1 0%;
    height: calc(100% - 40px);
    /* Resta el header del panel si tiene */
    overflow-x: hidden;
}

/* El estado activo cuando clickeas en el Outline o te mueves en el Editor */
.active-outline {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

/* Para que el scrollIntoView no pegue el item al borde superior */
#outline {
    scroll-padding: 10px;
}

/* Contenedor principal */
.explorer-col {
    transition: width 0.3s ease;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/* Estado contraído */
.explorer-col.collapsed {
    width: 45px !important;
    min-width: 45px !important;
}

.explorer-col.collapsed .explorer-header,
.explorer-col.collapsed .explorer-filename,
.explorer-col.collapsed #btnRefresh {
    display: none;
    /* Ocultamos el texto al colapsar */
}

/* Items del Explorer */
.explorer-item {}

.explorer-item.active {
    background-color: #37373d;
    color: #fff;
    border-left: 2px solid #18C434;
}

/* Animación para el refresh */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinning {
    animation: spin 1s linear infinite;
    color: #18C434 !important;
}

.explorer-col.collapsed .column-header {
    padding: 8px 0;
    justify-content: center;
}

.explorer-col.collapsed .header-actions {
    flex-direction: column;
    align-items: center;
}

/* Animación de sombreado */
@keyframes line-shadow-flash {

    0%,
    100% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(128, 128, 128, 0.2);
    }

    /* Gris ligero */
}

/* Clase para la línea completa */
.monaco-editor .line-shadow-flash-class {
    animation: line-shadow-flash 0.3s ease-in-out 3 !important;
    z-index: 0;
    /* Se mantiene detrás del texto */
}


/* PARA MODAL */
/* Overlay: fondo oscuro semi-transparente */
.modal-overlay {
    position: fixed;
    /* width: 100%;
            height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Contenedor principal */
.modal-content {
    background: #ffffff;
    width: 100%;
    max-width: 28rem;
    border-radius: .5rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 8px 10px -6px rgba(0, 0, 0, 0.1);
    /* font-family: 'Segoe UI', sans-serif; */
}

/* Header negro con texto verde */
.modal-header {
    background: #000000;
    /* color: rgba(1, 214, 57, 1); */
    /* Verde neón */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.75rem; */
    border-bottom: 1px solid #e5e7ea;
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
    color: rgba(1, 214, 57, 1);
}

/* Cuerpo y Formulario */
.modal-body {
    padding: 20px;
    background: #fdfdfd;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 13px;
    font-weight: 600;
    color: #556070;
    margin-bottom: 5px;
}

.row {
    display: flex;
    gap: 15px;
}

.row .input-group {
    flex: 1;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #e0e4e8;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #00d136;
}

.get-key-link {
    font-size: 12px;
    color: #8892a0;
    text-decoration: none;
    font-weight: 600;
}

/* Footer y Botones */
.modal-footer {
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-cancel {
    background: white;
    border: 1px solid #e0e4e8;
    color: #333;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-save {
    background: #00d136;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.btn-save:hover {
    background: #00b32d;
}